
<div class="container">
  <h6 class="display-6">職缺列表</h6>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Content</th>
        <th>Require</th>
        <th>Wage</th>
        <th>Company</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @jobs.each do |job| %>
        <% if (job.status == 1) %>
          <tr>
            <td><%= job.name %></td>
            <td><%= job.content %></td>
            <td><%= job.require %></td>
            <td><%= job.wage %></td>
            <td><%= link_to Company.find(job.company_id).name, company_path(job.company_id), method: 'get' %></td>
            <td><%= link_to 'Show', job %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Job', new_job_path %>

</div>
