<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @job.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @job.status %>
</p>

<p>
  <strong>Require:</strong>
  <%= @job.require %>
</p>

<p>
  <strong>Benefits:</strong>
  <%= @job.benefits %>
</p>

<p>
  <strong>Wage:</strong>
  <%= @job.wage %>
</p>

<p>
  <strong>Company:</strong>
  <%= @job.company_id %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
