

<div class="container">
  <h6 class="display-6">公司列表</h6>

  <table class="table table-hover" >
    <thead>
      <tr>
        <th>公司名稱</th>
        <th>公司介紹</th>
        <th>薪資福利</th>

        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= company.name %></td>
          <td><%= company.content %></td>
          <td><%= company.benefits %></td>
          <td><%= link_to '顯示', company %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Company', new_company_path %>

</div>